{% extends "layout.html" %}
{% block body %}
<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/functions.js')}}"></script>
    <table class="entries table table-stripped">
      <tr>
        <th>User/Database</th><th>Password</th><th>Container</th><th>Actions</th>
      </tr>
    {% for entry in entries %}
      <td>{{ entry.name }}</td>
      <td>{{ entry.password }}</td>
      <td>
        <a href='/container/edit/{{ entry.container }}'>{{ entry.container }}</a>
      </td>
      <td>
        <div class="btn-group-xs btn-group" role="group" aria-label="Center">        
          <button type="button" class="btn btn-primary" aria-label="Left Align" data-toggle="modal" data-target="#adddatabase" onclick="editdatabase('{{ entry.name }}','{{ entry.password }}','{{entry.container}}')">
            <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
          </button>
          <button type="button" class="btn btn-danger" aria-label="Left Align" onclick="confirm('Delete database {{entry.name}}',function(){location.href='/database/delete/{{entry.name}}'});">
            <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
          </button>
        </div>
      </td>
    </tr>
    {% else %}
    {% endfor %}
    </table>
    <button type="button" class="btn btn-xs btn-primary" aria-label="Left Align" data-toggle="modal" data-target="#adddatabase" onclick="cleardatabase()">add Database</button>

<!-- Modal Dialog -->
    <div class="modal fade" id="adddatabase" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/database/add" method="post" id="databaseform">
            <div class="modal-header">
              <!-- Form Name -->
              <legend>Add Admin</legend>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="control-group">
                    <label class="control-label" for="user">Username</label>
                    <div class="controls">
                      <input id="user" name="user" type="text" placeholder="Name" class="input-xlarge form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                      <input id="dbpassword" name="password" type="text" placeholder="Password" class="input-xlarge form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="control-group">
                    <label class="control-label" for="container">Container</label>
                    <div class="controls">
                      <input id="container" name="container" type="text" placeholder="Associated container" class="input-xlarge form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <!-- Button (Double) -->
              <div class="control-group">
                <label class="control-label" for="action"></label>
                <div class="controls">
                  <button id="action" name="action" class="btn btn-primary">Save</button>
                  <button id="doublebutton2-0" name="doublebutton2-0" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
